body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  }

.box {
  display: inline-flex;
  flex-wrap: wrap;
  border: 1px solid #eee;
  border-color: red;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 16px;
  margin: 100px;
  width: 100px;
}
.container {
  display: flex;
  flex: 1;
}

.card {
  display: inline-flex;
  flex:1;
  margin: 0;
  padding: 0;
  border: 1px solid #eee;
  border-color: green;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;

}

a {
  list-style-type: none;
  color: white;
  text-decoration: none;
  font-size: 24px;
}